@import '../../../styles/variables.scss';

.card-container {
    display: flex;
    flex-direction: column;
    background: $white;
    width: 315px;
    padding: 1rem;
    border: 2px solid $gray-2;
    margin: 8px;

    .card-title {
        font-size: 20px;
    }

    .card-desc {
        color: $gray-4;
        font-weight: 600;
    }
}