<div class="header">
    <div>
        <h1 class="title">nova admissão cooperado</h1>
        <span class="info">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</span>
    </div>
    <div class="d-flex align-items-center">
        <div class="notification">
            <notification-badge [notification]="notification"></notification-badge>
            <i class="fa-solid fa-user"></i>
        </div>
        <button class="btn-ailos btn-ailos-secondary btn-viacredi">viacredi</button>
        <div class="user">
            <img class="user-img" src="../../../assets/images/user.png">
        </div>
    </div>
</div>