@import '../../../styles/variables.scss';


.info-container {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    
    .card-info {
        display: flex;
        flex-direction: column;
    }

    .card-icon {
        font-size: 27px;
        width: 40px;
        height: 25px;
        color: $gray-4;
    }

    .icon-regular {
        color: $green-ailos;
    }

    .icon-irregular {
        color: $critical-red;
    }

    
    .card-label {
        color: $gray-4;
        font-weight: 600;
    }
}